* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body{
    background-color: rgb(112, 157, 198);
}

.btn{
    border: 0px solid;
    background-color: rgb(100, 100, 181);
    color: rgb(0, 0, 0);
    padding: 17px;
    border-radius: 7px;
    font-size: 18px;
    width: 100%;
    max-width: 370px;
    cursor: pointer;
    transition: 1s;
}

.btn:hover{
    background-color: rgb(46, 46, 84);
    color: rgb(255, 255, 255);
    transition: 1s;
}

.textocalcula{
    font-size: 30px;
    color: rgb(255, 255, 255);
}